use nix
add_extra_vimrc
clear_direnv_aliases

c () {
  stack exec --package clash-ghc --package ghc-typelits-extra --package ghc-typelits-knownnat --package ghc-typelits-natnormalise -- clash $1 --verilog
}
export_function c

i () {
  stack exec --package clash-ghc --package ghc-typelits-extra --package ghc-typelits-knownnat --package ghc-typelits-natnormalise -- clashi
}
export_function i
